html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color:darkred;
}
div{
  margin:0px;
  padding:0px;
}

#map {
  height: 88%;
  width: 80%;
    float: left;
        /*margin-top: -250px;*/
  /*margin: auto;*/
}
#listWrap{
  width: 18%;
      float: left;
      margin: 0;
      padding: 0;
      position: relative;
      left: 0px;
      height: 88%;
      background-color: darkred;
      color: white;
      font-size: 23px;
      font-family: arial;
      padding-left: 1%;
}
.navlink{
      float: left;
    margin-left: 80px;
}
a{
  color:white;
}

span{
  clear: both;
}

#nav{
  width: 100%;
  /* clear: both; */
  /* height: 9%; */
  font-size: 33px;
  text-align: center;
  font-family: arial;
  font-weight: bold;
  text-decoration: underline;
  position: relative;
  top: 0;
  background-color: red;
  height: 10%;
  color: white;
}
